body {
    margin: 0;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

.rummage-location-title {
    text-align: center;
}

.days-open_dots {
    display: flex;
    justify-content: space-evenly;
}

.day-open-dot {
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid darkgray;
    color: darkgray;
}

.is-open {
    background-color: #3573EA;
    border: 1px solid black;
    color: white;
}